# Este es un archivo de ejemplo. No lo subas a git.
# Copia este archivo a local.properties y actualiza los valores.

# Configuración del SDK
sdk.dir=C:\Users\TuUsuario\AppData\Local\Android\sdk
flutter.sdk=C:\flutter

# Versiones de la app
flutter.versionName=0.9.0
flutter.versionCode=1

# Configuración del keystore
keyAlias=rentem
keyPassword=tuContraseña
storeFile=app/rentem-key.keystore
storePassword=tuContraseña
